@using DnD5eCharacterBuilder.Data

@model DnD5eCharacterBuilder.Models.CharacterCreate

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script type="text/javascript">
    var fN = ["1", "2", "3"];
    var lN = ["1", "2", "3"];

    function generateName() {
        var rN = fN[Math.floor(Math.random() * fN.length)] + ' ' + lN[Math.floor(Math.random() * lN.length)];
        return rN;
    }
</script> <!-- THIS NO WORK RIGHT NOW - Need to link to button and set the (at)Value on line 32  -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create a Character</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CharacterName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="display: inline-flex">
                @Html.EditorFor(model => model.CharacterName, new { htmlAttributes = new { @class = "form-control", @Value = "Default" } })
                <button type="button" class="btn btn-primary btn-sm" style="margin-left:15px">Random</button> <!-- Maybe set to onclick set value for model.charactername? -->
            </div>
            <div style="padding-left:210px">
                @Html.ValidationMessageFor(model => model.CharacterName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CharacterSex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CharacterSex, new SelectList(Enum.GetValues(typeof(CharacterSex))), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CharacterSex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CharacterRace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CharacterRace, new SelectList(Enum.GetValues(typeof(CharacterRace))), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CharacterRace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CharacterClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CharacterClass, new SelectList(Enum.GetValues(typeof(CharacterClass))), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CharacterClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Xp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Xp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlayerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
