@model DnD5eCharacterBuilder.Models.JoiningTable

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="container">

        <div class="charsheetBlock" style="text-align: center;">
            <div style="text-align: center;">
                <h2 style="letter-spacing:2px">@Html.DisplayFor(model => model.Character.CharacterName)</h2>
            </div>

            <div class="row align-items-start boldthis">
                <div class="col-sm-4">Name</div>
                <div class="col-sm-4">Race</div>
                <div class="col-sm-4">Sex</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.CharacterName)</div>
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.CharacterRace)</div>
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.CharacterSex)</div>
            </div>
            <p></p>
            <div class="row align-items-end boldthis">
                <div class="col-sm-4">Class</div>
                <div class="col-sm-4">Level</div>
                <div class="col-sm-4">Xp</div>
            </div>
            <div class="row align-items-end">
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.CharacterClass)</div>
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.Level)</div>
                <div class="col-sm-4">@Html.DisplayFor(model => model.Character.Xp)</div>
            </div>

        </div>

        <div class="charsheetBlock">

            <div>
                <hr />
                <div style="text-align: center;">
                    <h3>Statistics</h3>
                </div>
                <div style="text-align: center">
                    <div class="row align-items-center boldthis">
                        <div class="col-sm-2">Strength</div>
                        <div class="col-sm-2">Dexterity</div>
                        <div class="col-sm-2">Constitution</div>
                        <div class="col-sm-2">Intelligence</div>
                        <div class="col-sm-2">Wisdom</div>
                        <div class="col-sm-2">Charisma</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Strength)</div>
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Dexterity)</div>
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Constitution)</div>
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Intelligence)</div>
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Wisdom)</div>
                        <div class="col-sm-2">@Html.DisplayFor(model => model.Statistic.Charisma)</div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-2">Mod</div>
                        <div class="col-sm-2">Mod</div>
                        <div class="col-sm-2">Mod</div>
                        <div class="col-sm-2">Mod</div>
                        <div class="col-sm-2">Mod</div>
                        <div class="col-sm-2">Mod</div>
                    </div>
                </div>
            </div>

            <div style="text-align:center;margin-top:25px">
                <div>
                    @Html.ActionLink("Create", "Create", "Statistic", new { id = Model.CharacterId }, null) |
                    @Html.ActionLink("Edit", "Edit", "Statistic", new { id = Model.CharacterId }, null)
                </div>
            </div>

        </div>

        <div class="charsheetBlock">

            <div style="text-align: center">
                <div class="row align-items-center boldthis">
                    <div class="col-sm-2">Str Save</div>
                    <div class="col-sm-2">Dex Save</div>
                    <div class="col-sm-2">Con Save</div>
                    <div class="col-sm-2">Int Save</div>
                    <div class="col-sm-2">Wis Save</div>
                    <div class="col-sm-2">Cha Save</div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-2">Value</div>
                    <div class="col-sm-2">Value</div>
                    <div class="col-sm-2">Value</div>
                    <div class="col-sm-2">Value</div>
                    <div class="col-sm-2">Value</div>
                    <div class="col-sm-2">Value</div>
                </div>
            </div>

        </div>

        <div class="charsheetBlock">

            <hr />
            <div style="text-align: center">
                <h3>Skills</h3>
            </div>

            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Acrobatics</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Animal Handling</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Arcana</div>
                <div class="col-sm-2">Value</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Athletics</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Deception</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">History</div>
                <div class="col-sm-2">Value</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Insight</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Intimidation</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Investigation</div>
                <div class="col-sm-2">Value</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Medicine</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Nature</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Perception</div>
                <div class="col-sm-2">Value</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Performance</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Persuasion</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Religion</div>
                <div class="col-sm-2">Value</div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Sleight of Hand</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Stealth</div>
                <div class="col-sm-2">Value</div>
                <div class="col-sm-2 boldthis">Survival</div>
                <div class="col-sm-2">Value</div>
            </div>

        </div>

        <div class="charsheetBlock">
            <hr />

            <div class="row align-items-center">
                <div class="col-sm-2 boldthis">Player</div>
                <div class="col-sm-2">@Html.DisplayFor(model => model.Character.PlayerName)</div>
                <div class="col-sm-2 boldthis">Created</div>
                <div class="col-sm-2">@Html.DisplayFor(model => model.Character.Created)</div>
                <div class="col-sm-2 boldthis">Modified</div>
                <div class="col-sm-2">@Html.DisplayFor(model => model.Character.Modified)</div>
            </div>

        </div>

        <div style="text-align:center;margin-top:25px">
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CharacterId }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.CharacterId }) |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>