@using DnD5eCharacterBuilder.Data

@model IEnumerable<DnD5eCharacterBuilder.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Characters</h2>

<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterRace).ToString().Replace("_", "-")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level).ToString().Replace("Level_", "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
            </td>
        </tr>
    }

</table>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-sm">Add New</a>
</p>